body {
background-image:url('首頁樣式.jpg');
background-repeat:no-repeat;
background-color: #FAFAFA;
}


img {
height: auto;
max-width: 100%;
}


// Media Query ，也就是當寬度 < 768 px 時將載入下面這段 CSS :
 @media only screen and (max-width: 768px) {
}

// Media Query ，也就是當寬度 < 480 px 時將載入下面這段 CSS :
 @media only screen and (max-width: 480px) {
}

// Media Query ，也就是當寬度 < 320 px 時將載入下面這段 CSS :
 @media only screen and (max-width: 320px) {
}
